<h2>Show Link</h2>

<ul>

  <li>
    <strong>Original url:</strong>
    <%= @link.original_url %>
  </li>

  <li>
    <strong>Shortened url:</strong>
    <%= @link.shortened_url %>
  </li>

</ul>

<span><%= link "Edit", to: link_path(@conn, :edit, @link) %></span>
<span><%= link "Back", to: link_path(@conn, :index) %></span>
